body {
  text-align: center;
}

button {
  background-color: red;
  color: white;

  /* 👇 YOUR CODE HERE 👇 */
  p {
    margin: 20px;
    padding: 10px;
    width: 3px;
    border-style: double;
    color: darkgray;
  }
button }
